<!DOCTYPE html>
<html>
  <head>
    <title>Library System</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <h1>Welcome to Library System</h1>
    현재 유저는 tester입니다. (이 부분은 하드 코딩했습니다.)<br>
    <table style="width:50%">
    	<thead>
    		<th>Title</th>
    		<th>Publisher</th>
    		<th>Author</th>
    		<th>대여 가능 여부</th>
    		<th>대여/반납</th>
    		<th>대여 기록 열람</th>
    	</thead>
    	<% for(var i = 0; i < books.length; i++) { %>
    	<tr style="text-align: center">
    		<td><%- books[i].title %></td>
    		<td><%- books[i].publisher %></td>
    		<td><%- books[i].author %></td>
    		<% if(books[i].borrow == null) { %>
    		<td>대여 가능</td>
    		<td><a href="/borrow/<%- books[i].bid %>">대여</a></td>
    		<% } else { %>
    		<td>대여 중</td>
    			<% if(books[i].borrower == 'tester') { %>
    			<td><a href="/turnin/<%- books[i].bid %>">반납</a></td>
    			<% } else { %>
    			<td></td>
    			<% } %>
    		<% } %>
    		<td><a href="/history/<%- books[i].bid %>">열람</a></td>
		</tr>
		<% } %>
	</table>
	<br><br>
	<form action="/search" methor="GET">
		Title : <input type="text" name="title" /><br>
		Author : <input type="text" name="author" /><br>
		Publisher : <input type="text" name="publisher" /><br>
		<input type="submit" value="검색"/>
	</form>
  </body>
</html>
